/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    
    font-size: 1em;
    line-height: 1.4;
    
}

h2 {
    color: #696D6E; 
}

h3 {
    color: #ABABAB;
}

p {
    color: #D6D6D6;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


 
/*HEADER*/
 
header ul {
	height: 1.5em;
	width: 60em;
	margin-top:0.1em;
}

header li {
	display: inline;
	padding: 1.2em;
}

header {
	margin-bottom: 2em;
}

header, a:link {
    color: #AB99C2;
    text-decoration: none;
}

header, a:visited {
    color: #615473;
    
}

header, a:hover {
    color: #FFE83B;
}

#social_bugs{
	position:absolute;
	right:0em;
	top:1.3em;
	width:20em;
}

#social_bugs li {
	display: inline;
	padding: 0.5em;
}


div.content_frame {
    width: 70%;
    margin: 0 auto;
    background-color: #333333;
}

/*GENERAL PAGE*/

.page_container {
	width: 1000px;
}

body{
	margin-left: auto;
	margin-right: auto;

}

/*SPLASH PAGE*/

.splash_floater {
	position: absolute;
	width: 1000px;
	z-index: 110;
	bottom: 10px;
	/* left: 50px; */
	background: #000;
	opacity: 0.7;
}



.splash_floater li {
	display: inline;
	padding-left: 0.6em;
	opacity: 1.0;
}

#splash_left{
	position: absolute;
	z-index: 100;
	height:400px;
	width:500px;
}

#splash_right{
	position: absolute;
	z-index: 100;
	height:400px;
	width:500px;
	left:500px;
}

.splash_floater_alt {
	position: absolute;
	width: 1000px;
	z-index: 110;
	/*bottom: 10px;*/
	bottom:20%;
	left: 20%;
	background: #000;
	opacity: 0.7;
}

#splash_left_alt{
	position: absolute;
	z-index: 100;	
	width:50%;
	height:auto;
}

#splash_right_alt{
	position: absolute;
	z-index: 100;
	width:50%;
	height:auto;
	left:50%;
}



.content_frame {
	margin-left: 6em;
	margin-right: 6em;
}


#splash_frame_alt {
	height: 600px;
	position: relative;
	max-width:1500px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

#splash_frame {
	height: 400px;
	position: relative;
	width:1000px;
	margin-left: auto;
	margin-right: auto;

}

#splash_container{
	/*background:#000;*/
	margin-top: -1.6em;

}

/*CHARACTER PAGE*/

div.char_frame {
    padding: 20px 28px 20px 20px;
    background: #303030;
	min-height: 300px;
	margin-top: -1em;
	margin-bottom: 3em;
	padding-right:1em;
}

.char_img {
	display: block;
	width: 200px;
	height: 100%;
	float: left;
}


.char_desc {
	height: 150px;
	width: 60%;
	float: left;
}

.screenshot_small
{
	background: #aaa;
	width: 400px;
	height:225px;
}

footer
{
	width: 350px;
	margin-top: 10em;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 2em;
	font-size: 0.8em;
	color: #aaa;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
